{% extends 'base.html' %}

{% block title %} Acceuil {% endblock title %}

{% block content %}

<h1>Répertoire téléphonique</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="AJOUTER">
    <input type="reset" class="btn btn-primary" value="EFFACER">
    <input type="button" class="btn btn-secondary form-control" value="Liste des contacts" disabled readonly>
    {% block listing %}
    {% for contact in contacts %}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ contact.name }}" disabled readonly>
        <a href="{% url 'update' pk=contact.pk %}">
            <button type="button" class="btn btn-warning btn-modify">Mofifier</button>
        </a>
        <a href="{% url 'delete' pk=contact.pk %}">
            <button type="button" class="btn btn-danger btn-delete">Supprimer</button>
        </a>
    </div>
  {% endfor %}
  {% endblock listing %}
</form>

{% endblock content %}